In [1]:
import numpy as np
import pandas as pd
# import geopandas as gpd
import matplotlib.pyplot as plt
import plotly.express as px
import sklearn.cluster as cluster

In [2]:
taxi_2014 = pd.read_csv(
    './nyc_taxi_data.csv',
)

C:\Users\Gavin\AppData\Local\Temp\ipykernel_16528\1142646595.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  taxi_2014 = pd.read_csv(

In [3]:
taxi_2014.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,rate_code,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
0,CMT,2014-01-09 20:45:25,2014-01-09 20:52:31,1,0.7,-73.994770,40.736828,1,N,-73.982227,40.731790,CRD,6.5,0.5,0.5,1.40,0.0,8.90
1,CMT,2014-01-09 20:46:12,2014-01-09 20:55:12,1,1.4,-73.982392,40.773382,1,N,-73.960449,40.763995,CRD,8.5,0.5,0.5,1.90,0.0,11.40
2,CMT,2014-01-09 20:44:47,2014-01-09 20:59:46,2,2.3,-73.988570,40.739406,1,N,-73.986626,40.765217,CRD,11.5,0.5,0.5,1.50,0.0,14.00
3,CMT,2014-01-09 20:44:57,2014-01-09 20:51:40,1,1.7,-73.960213,40.770464,1,N,-73.979863,40.777050,CRD,7.5,0.5,0.5,1.70,0.0,10.20
4,CMT,2014-01-09 20:47:09,2014-01-09 20:53:32,1,0.9,-73.995371,40.717248,1,N,-73.984367,40.720524,CRD,6.0,0.5,0.5,1.75,0.0,8.75

In [5]:
print("Original dataset shape:", taxi_2014.shape)
taxi_2014.columns

Original dataset shape: (165114361, 18)

Index(['vendor_id', 'pickup_datetime', 'dropoff_datetime', 'passenger_count',
       'trip_distance', 'pickup_longitude', 'pickup_latitude', 'rate_code',
       'store_and_fwd_flag', 'dropoff_longitude', 'dropoff_latitude',
       'payment_type', 'fare_amount', 'surcharge', 'mta_tax', 'tip_amount',
       'tolls_amount', 'total_amount'],
      dtype='object')

In [6]:
taxi_2014.drop(
    columns=['vendor_id', 'rate_code', 'store_and_fwd_flag', ],
    inplace=True,
)
print("Removing specific columns, dataset shape:", taxi_2014.shape)

Removing specific columns, dataset shape: (165114361, 15)

In [7]:
taxi_2014.dropna(inplace=True)
print("Removing rows containing NaN, dataset shape:", taxi_2014.shape)

Removing rows containing NaN, dataset shape: (165114216, 15)

In [14]:
taxi_2014['pickup_datetime'] = pd.to_datetime(taxi_2014['pickup_datetime'], format='%Y-%m-%d %H:%M:%S')
taxi_2014['dropoff_datetime'] = pd.to_datetime(taxi_2014['dropoff_datetime'], format='%Y-%m-%d %H:%M:%S')

In [15]:
taxi_2014 = taxi_2014[(-74 <= taxi_2014['pickup_longitude']) & (taxi_2014['pickup_longitude'] <= -73.5)]
taxi_2014 = taxi_2014[(40 <= taxi_2014['pickup_latitude']) & (taxi_2014['pickup_latitude'] <= 41)]
taxi_2014 = taxi_2014[(-74 <= taxi_2014['dropoff_longitude']) & (taxi_2014['dropoff_longitude'] <= -73.5)]
taxi_2014 = taxi_2014[(40 <= taxi_2014['dropoff_latitude']) & (taxi_2014['dropoff_latitude'] <= 41)]

In [19]:
print("Filtering the abnormal values of lat and long, dataset shape", taxi_2014.shape)

Filtering the outliners of lat and long, dataset shape (123950065, 15)

In [20]:
taxi_2014['year'] = taxi_2014['pickup_datetime'].dt.year
taxi_2014['month'] = taxi_2014['pickup_datetime'].dt.month
taxi_2014['day'] = taxi_2014['pickup_datetime'].dt.day
taxi_2014['hour'] = taxi_2014['pickup_datetime'].dt.hour
taxi_2014['minute'] = taxi_2014['pickup_datetime'].dt.minute
taxi_2014['second'] = taxi_2014['pickup_datetime'].dt.second

print("Adding the columns of datetime respectively, dataset shape", taxi_2014.shape)

Adding the columnes of datetime respectively, dataset shape (123950065, 21)

In [22]:
for month in range(12):
    taxi_jan = taxi_2014[taxi_2014['month'] == 1]
    taxi_jan.shape
    taxi_jan.to_csv("./2014_" + str(month) + ".csv")

(10524005, 21)